/* utility class */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* /utility class */

/* testata */

.logo {
  display: inline-block;
  margin-right:30px;
}

.testata {
  height: 600px;
  background-color: #0C325A;
  overflow: hidden;
}

.testata > div {
  display: inline-block;

}

/* regole generali navbar */


nav{
  display: inline-block;
}

ul{
  overflow: hidden;
  display: inline-block;

}

li{
  display: inline-block;
  padding-left: 20px;
}

li a{
  text-decoration: none;
  display: inline-block;
  color: white;
}


.insieme-logo-navabar{
 width: 1200px;
 transform: translate(-50%, 0);
 left: 50%;
 position: absolute;
 padding-top: 20px;
 text-transform:uppercase;
}

/* /regole generali navbar */

.immagine-testata{
  width: 800px;
  height: 400px;
  position: relative;
  top: 200px;
  left: 40px;
}

/* regole box slogan */

.slogan-box{
  height: 100px;
  text-align: center;
  background-color: #ccc;
  vertical-align: middle;
}

.slogan-box > p:first-of-type{
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
}

.slogan-box > p:last-of-type{
  font-weight: lighter;
  color: #fff
}

/* main box */

div.box-1{
  height: 600px;
  width: 400px;
  text-align: center;
}

.box-1 > img{
  width: 60px;
  height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box-1 > span:first-of-type{
  Color: green;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

div.box-2{
  height: 600px;
  width: 400px;
  text-align: center;
}

.box-2 > img{
  width: 60px;
  height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box-2 > span:first-of-type{
  Color: green;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

div.box-3{
  height: 600px;
  width: 400px;
  text-align: center;
}

.box-3 > img{
  width: 60px;
  height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box-3 > span:first-of-type{
  Color: green;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}
